body{

margin:0;

background:#008080;

font-family:Tahoma;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.window{

width:550px;

background:white;

border:3px solid black;

box-shadow:5px 5px 15px black;

}

.titlebar{

background:#000080;

color:white;

padding:10px;

display:flex;

justify-content:space-between;

font-weight:bold;

}

.titlebar button{

background:red;

color:white;

border:none;

cursor:pointer;

padding:4px 10px;

}

.content{

padding:25px;

}

button{

padding:10px 20px;

margin-top:10px;

cursor:pointer;

}