<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>About ChatGPT 2006</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

</head>

<body>

<div class="window">

<div class="titlebar">

<span>About ChatGPT 2006</span>

<button onclick="closeAbout()">X</button>

</div>

<div class="content">

<h1>ChatGPT 2006</h1>

<p>Version 1.0</p>

<p>Windows XP Inspired AI Assistant</p>

<hr>

<p><b>Developer:</b> Pooja Gour</p>

<p><b>Hackathon:</b> Rift Hacketon</p>

<p><b>Frontend:</b> HTML CSS JavaScript</p>

<p><b>Backend:</b> Flask</p>

<p><b>AI:</b> LLM API</p>

</div>

</div>

<script src="{{ url_for('static', filename='js/about.js') }}"></script>

</body>
</html>